body{
    font-family: 'Roboto', sans-serif !important;
    background-image: url('background-img.svg');
    background-repeat: no-repeat;
    background-size:cover;
}
.logo{
    margin-left: 60px;
    margin-top: 10px;
}
.card{
    display: block;
    margin: auto;
}
.card-body{
    padding: 40px 91px 40px 91px !important;
}
.card-title{
    font-size: 26px;
}
.card-text{
    font-size: 14px;
    font-weight: 400;
}
.contact-form label{
    text-align: left;
    width: 100%;
}
.companysize{
    padding: 4px 8px;
    text-decoration: none;
    color: #000;
    background-color: #F0F0F0;
    border-radius: 3px;
    margin: 0px 4px;
}
.active{
    color: #fff;
    background-color: #3766E8;
}
.btn-get-started{
    color: #fff;
    background-color: #3766E8;
}
.footer{
    margin-top: 121px;
    margin-bottom: 57px;
    font-size: 14px;
    color: #545454;
    font-weight: 400;
}
