body{
    font-family: 'Roboto', sans-serif !important;
    background-image: url('background-img.svg');
    background-repeat: no-repeat;
    background-size:cover;
}
.logo{
    margin-left: 60px;
    margin-top: 10px;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #000;
}
.loader {
    display: flex;
    align-items: center;
}
.loader__part {
    background: #fff;
    width: 5px;
    border-radius: 3px;
    margin: 0 5px;
    opacity: 0;
}
.loader__part--1 {
    animation: opacity 0.3s linear forwards, anim-1 0.5s cubic-bezier(0.8, 0, 0.6, 1) infinite alternate;
    animation-delay: 0.3s;
}
@keyframes anim-1 {
    0% {
        height: 5px;
   }
    100% {
        height: 35px;
   }
}
.loader__part--2 {
    animation: opacity 0.3s linear forwards, anim-2 0.5s cubic-bezier(0.8, 0, 0.6, 1) infinite alternate;
    animation-delay: 0.6s;
}
@keyframes anim-2 {
    0% {
        height: 5px;
   }
    100% {
        height: 38px;
   }
}
.loader__part--3 {
    animation: opacity 0.3s linear forwards, anim-3 0.5s cubic-bezier(0.8, 0, 0.6, 1) infinite alternate;
    animation-delay: 0.9s;
}
@keyframes anim-3 {
    0% {
        height: 5px;
   }
    100% {
        height: 41px;
   }
}
@keyframes opacity {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
.card{
    display: block;
    margin: auto;
}
.card-body{
    padding: 40px 91px 40px 91px !important;
}
.card-title{
    font-size: 26px;
}
.card-text{
    font-size: 14px;
    font-weight: 400;
}
.contact-form label{
    text-align: left;
    width: 100%;
}
.companysize{
    padding: 4px 8px;
    text-decoration: none;
    color: #000;
    background-color: #F0F0F0;
    border-radius: 3px;
    margin: 0px 4px;
}
.active{
    color: #fff;
    background-color: #3766E8;
}
.btn-get-started{
    color: #fff;
    background-color: #3766E8;
}
.footer{
    margin-top: 121px;
    margin-bottom: 57px;
    font-size: 14px;
    color: #545454;
    font-weight: 400;
}
